body {
    background-color: white;
}
.main-container {
    position: flex;
    margin: 20px;

}

.head-div {
    border-bottom: grey solid 2px;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

header {
    background-color: white;
    text-align: center;
    padding: 15px;
    padding-bottom: 20px;
    position: relative;
}

header a {
    float: right;
}

.card-header-title p {
    text-align: center;

}


.col-1 {
    margin: 10px;
    justify-content: flex-start;
}

.field {
    margin-bottom: 20px;
}

#mapId {
    height: 370px;
    width: 600px;
}


@media only screen and (max-width: 1025px) {
    #mapId {
        height: 370px;
        width: 500px
    }
}

@media only screen and (max-width: 768px) {
    #mapId {
        height: 370px;
        width: 600px
    }
}
@media only screen and (max-width: 715px) {
    #mapId {
        height: 370px;
        width: 500px
    }
}
@media only screen and (max-width: 585px) {
    #mapId {
        height: 350px;
        width: 400px
    }
}

