html { 
    background-color: black;
    color: #8E8D8a;
}
header {
    position: relative;
    /* border-bottom: #6e6658 solid 1px; */
    margin-bottom: 10px;
    /* text-align: center; */
    padding: 20px;
    min-height: 70px;
    /* background-color: rgba(110, 102, 88, 0.568);  */
}
header p {
    color: rgb(194, 0, 0);
    font-size: 36px;
    margin-left: 10px;
    float: left;
    font-family: 'Monoton', cursive;
}
header img {
    height: 50px;
    width: 50px;
    float: left;
    margin-left: 5px;
}
.box-title {
    font-size: 24px;
    color: rgb(194, 0, 0);
    margin: 0px;
}
.glow {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(194, 0, 0), 0 0 40px rgb(194, 0, 0), 0 0 50px rgb(194, 0, 0), 0 0 60px rgb(194, 0, 0), 0 0 70px rgb(194, 0, 0);
}

.res-header {
    font-family: 'Fugaz One', cursive;
}
.event-header{
    font-family: 'Sigmar One', cursive;
}
h1{
    font-size:48px;
}
.main-container {
    position: flex;
    margin-right: 30px;
    margin-left: 30px;
}
.my-div-icon{
    background-color: red;
    border-radius: 50%;
}
.my-other-div{
    background-color: blue;
    border-radius: 50%;
}
.box {
    color: #112d32;
    border-radius: 4px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 35px;

}
.location-div {
    font-family: 'Share', cursive;
    color: rgb(194, 0, 0);


}
.ebox {
    padding-top: 30.5px;

}
.my-div-icon{
    background-color: red;
}
.is-child-box {
    border-radius: 4px;
}
#restInfo, #events {
    block-size: 500px;
    overflow: auto;
}
.restName, .eventName{
    font-size:18px;
    color: black;
    border-top: rgba(0, 0, 0, 0.603) solid 1px;
}

.field {
    margin-bottom: 20px;
    margin-left: 50px;
}
footer{
    text-align: center;

    margin-bottom: 0;
    padding: 16px;
}
.foot {
    text-align: center;
}
p{
    font-weight: bolder;
    font-size:12px;
}
a{
    font-weight: bolder;
    font-size:10px;
    margin-bottom:10px;
}
#mapId {
    height: 400px;
    width: auto;
}

@media only screen and (max-width: 500px) {
    header p {
      font-size: 25px;
    }
    header img {
        height: 50px;
        width: 50px;

    }
  }
  @media only screen and (max-width: 768px) {
    .box {
        margin: auto    
    }
    .field {
        margin: auto;
    }
  }
